{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<header class="jumbotron bg-dark text-white text-center">
    <h1>Pagalba Buhalteriui</h1>
</header>
<div class="col-md-3 mx-auto">
    <div class="card border-dark mt-5">
        <h5 class="card-header bg-dark text-white">
            <strong>Įkelkite savo sąskaitą</strong>
        </h5>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.bill) }}
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
