{% extends 'base.html.twig' %}

{% block title %}Redaguokite savo sąskaitą{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Redaguokite savo sąskaitą</h1>
    </div>
    <main class="container">
        <section class="row jumbotron">
            <article class="col-md-6">
                <img class="img-fluid" src="/uploads/bills/{{ file }}"/>
            </article>
            <article class="col-md-6">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </article>
        </section>
    </main>
{% endblock %}
