{% extends 'base.html.twig' %}

{% block title %}Invoice Examples{% endblock %}

{% block body %}
<div class="container" style="margin-top:100px">
    <div class="jumbotron">
        <h1 class="text-center mb-5">Sąskaitų pavyzdžiai</h1>
        <div>
            <a href="http://buhalteriui.projektai.nfqakademija.lt/uploads/senukai-invoice-example-blank.jpg" target="_blank">Senukai pavizdys (Blank)</a>
        </div>
        <div>
            <a href="http://buhalteriui.projektai.nfqakademija.lt/uploads/senukai-invoice-example-blank.jpg" target="_blank">Senukai pavizdys</a>
        </div>
    </div>
</div>
{% endblock %}
